h1, h3, canvas, figcaption {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
body {
    background-color: #0A0A0A;
    color: #ffffff;

    font-family: "Sofia Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: normal;
}

h1, h3 {
    color: #ffffff;
}

canvas {
    background-color: #333333;
}