---
layout: default
---
<div>
    <h1>{{ page.title }}</h1>
    <p class="date-range" style="justify-content:start">{{ page.date | date: "%b %Y" }}</p>
    <br>
    <div style="
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    ">
        <img width=500 src="/assets/img/{{ page.image }}" alt="{{ page.title }} thumbnail">
    </div>
    <br>
    <p>{{ page.description }}</p>
    <br>
    <hr>
    <br>
    <br>
    <div class="markdown">
    {{ content }}
    </div>
</div>

